.followers {
    background-color: "#f7f8fc";
    color: "#437FC7";
    /* font-size: 34px; */
}

.headers {
    background-color: "#f7f8fc";
    /* margin-top: 5em; */
}

.home {
    font-family: Tahoma, sans-serif;
}

.siders {
    font-size: 1em;
    background-color: "#f7f8fc";
    margin-top: "5em";
}

.rightSiders {
    /* margin-left: 1.7em; */
    margin-left: 1.9vw;
}