.posty:hover{
    background-color:#f7fcfa;
    /* background-color: #f2f5f4; */
 }
 .comment-crop {
    overflow: hidden;
}
.shaka-crop {
    overflow: hidden;
}
.comment-crop img {
    width: 18px;
    height: auto;
    margin: 0 0 -3px 0;
}
.shaka-crop img {
    width: 20px;
    height: auto;
    margin: 0 0 -3px 0;
}

.shaka-gold:hover {
    /* background-color: black; */
    /* width: 24px; */
    opacity: .5;
    height: auto;
}

.shaka:hover {
    /* background-color: black; */
    /* width: 24px; */
    opacity: .5;
    height: auto;
}
