.posty:hover{
    background-color:#f7fcfa;
    cursor: pointer;
    /* background-color: #f2f5f4; */
 }
 .comment-crop {
    overflow: hidden;
}
.shaka-crop {
    overflow: hidden;
}
.commentCrop img {
    width: 18px;
    height: auto;
}

.commentIcon {
    width: 22px;
    height: auto;
    margin: 0 0 -8px 0;
    padding: 5px;
}
.commentIcon:hover {
    fill: #28d495;
    background-color: #e3f3ef;
    border-radius: 100px;
}

.commentCount {
    display: inline;
    color: #a8a8a8;
    font-family: helvetica;
}

.commentCount:hover {
    /* color: #28d495; */
}

.shakaIcon img {
    width: 24px;
    height: auto;
    margin: 0 0 -7px 0;
    padding: 2px;
}

.shakaCount {
    display: inline;
    color: #a7a7a7;
}

.shakaGold:hover {
    /* background-color: black; */
    /* width: 24px; */
    opacity: .5;
    height: auto;
}

.shaka:hover {
    opacity: .5;
    height: auto;
}
